@font-face {
  font-family: "uni-sans-heavy";
  src: local("uni-sans-heavy"), url("./Uni\ Sans\ Heavy.otf") format("truetype");
}
@font-face {
  font-family: "uni-sans-heavy-italic";
  src: local("uni-sans"), url("./Uni\ Sans\ Heavy\ Italic.otf") format("truetype");
}
@font-face {
  font-family: "uni-sans-thin";
  src: local("uni-sans-thin"), url("./Uni\ Sans\ Thin.otf") format("truetype");
}
@font-face {
  font-family: "uni-sans-thin-italic";
  src: local("uni-sans-thin-italic"), url("./Uni\ Sans\ Thin\ Italic.otf") format("truetype");
}
