body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

/* hyperlink style is awful */
a:not([href^="http"]) {
  text-decoration: none;
  color: inherit;
}
a[href^="http"] {
  color: inherit;
}

p {
  margin: 0;
}
